Repository lukeb06/bizzybee, pull requests merged in 2025-05, with the labels that each got.

#44 added some changes
  backend/app/api/business_routes.py
  backend/app/api/review_routes.py
  backend/app/forms/review_form.py
  backend/app/seeds/businesses.py
  frontend/src/assets/images/star_icon.png
  frontend/src/components/Business/BusinessPage.tsx
  frontend/src/components/Businesses/ViewAllBusinesses.tsx
  frontend/src/components/CreateBizForm/CreateBusinessFormPage.tsx
  frontend/src/components/ReviewStar/ReviewStar.tsx
  frontend/src/components/Reviews/Reviews.tsx
  frontend/src/redux/business.ts
  frontend/src/redux/types/business.d.ts
  frontend/src/router/index.tsx
Labels: backend, frontend

#49 finished all of the reviews redux
  backend/app/api/review_routes.py
  backend/migrations/alembic.ini
  frontend/src/redux/review.ts
  frontend/src/redux/types/review.d.ts
Labels: frontend, redux

#58 Completing business detail page
  backend/app/api/business_routes.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/BusinessDetail/BusinessPage.css
  frontend/src/components/BusinessDetail/BusinessPage.tsx
  frontend/src/components/CreateBizForm/CreateBusinessFormPage.tsx
  frontend/src/components/ReviewStar/ReviewStar.tsx
  frontend/src/components/Reviews/Reviews.css
  frontend/src/components/Reviews/Reviews.tsx
  frontend/src/components/StarRating/StarRating.css
  frontend/src/components/StarRating/StarRating.tsx
  frontend/src/redux/business.ts
  frontend/src/redux/store.ts
Labels: backend, frontend, redux, react-component, api-route

#62 Created a home page
  backend/app/seeds/businesses.py
  backend/app/seeds/images.py
  frontend/src/components/BusinessDetail/BusinessPage.css
  frontend/src/components/BusinessDetail/BusinessPage.tsx
  frontend/src/components/Businesses/ViewAllBusinesses.tsx
  frontend/src/components/CreateBizForm/CreateBusinessForm.css
  frontend/src/components/CreateBizForm/CreateBusinessFormPage.tsx
  frontend/src/components/HomePage/HomePage.css
  frontend/src/components/HomePage/HomePage.tsx
  frontend/src/components/HomePage/index.ts
  frontend/src/components/ReviewStar/ReviewStar.tsx
  frontend/src/components/Reviews/Reviews.css
  frontend/src/components/Reviews/Reviews.tsx
  frontend/src/redux/business.ts
  frontend/src/redux/types/business.d.ts
  frontend/src/router/index.tsx
Labels: frontend
